*{ margin: 0; padding: 0; }

body{
  font-family: 'Raleway',"sans-serif";
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
    background-color: DarkViolet;

}

#quote-box{
background-color: white;
  height: 350px;
  width:600px; /* or whatever width you want. */
  max-width:700px; /* or whatever width you want. */
  position: relative;
  border-radius: 10px;


  color: DarkViolet;
}

#text{
  font-size: 30px;
}

#author{
  position: absolute;
  right: 40px;
}

#new-quote{
  position:absolute;
    bottom:10px;
    right:10px;
}


#tweet-quote{
  position: absolute;
  bottom: 5px;
  left : 10px;
}



#tweet-quote{
  
}